@import 'tachyons';
@import 'list';
@import 'taxonomies';
@import 'single';

body {
    font-family: 'Courier Prime', monospace;
    background-color: ivory;
    font-size: 14px;
    line-height: 180%;

    h1,h2,h3,h4 {
        font-size: 30px;
        text-align: center;
        text-transform: capitalize;
        margin: 2em;
    }
}

blockquote {
    display: inline-block;
    font-style: italic;
    font-size: 20px;

    p {
        margin: 0;
        padding: 10px;
        color: $black-70;
    }

    p::before {
        content: " > ";
        color: $black;
    }

}
.site_brand{
    @include grid_list(1fr 2fr 1fr);
    @include items_center();
    display: grid;
    grid-template-areas: ". brand_content .";
    text-align: center;
    .brand_content{
        grid-area: brand_content;
        
        img{
            max-width: 350px;
            margin: 1.5em 0 1.5em 0;
        }
    }
    .navbar{
        margin: 2em;
        a{
            font-size: 18px;
            text-transform: capitalize;
        }
    }
}

  .page{
      @include grid_list(1fr 2fr 1fr, 1fr );
      @include items_center();
      display: grid;
      grid-template-areas:". content .";
      .content{
          grid-area: content;
        img {
            max-width: 350px;
            display: block;
            padding: 1.5em;
            margin: auto;
        }
      }
    }

.footer{
    @include grid_list(1fr 2fr 1fr, 1fr );
    @include items_center();
    display: grid;
    grid-template-areas:". f_content .";
    .f_content{
        margin: 1em;
        text-align: center;
        grid-area: f_content;
    .f_icons{
        display: flex;
        direction: row;
        justify-content: center;
        svg{
           margin: 2em;
           color: $black;
        }
    }
    .f_text{
        display: flex;
        flex-direction: column;
        }
    }
}